/* page element styling */
* {
    margin: 0;
}

/* body styling */
body {
    background-color: white;
}

/* header styling */
header {
    background-color: black;
    min-height: 40px;
    margin-bottom: 25px;
}

/* ehader h1 tag styling */
header h1 {
    font-size: 38px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 25px;
}

/* main styling */
main {
    display: flex;
    justify-content: space-between;
}

/* search container styling */
.searchCont {
    display: block;
    padding: 10px;
    margin-right: 10px;
    min-width: max-content;
}

/* search container h2 tag styling */
.searchCont h2 {
    padding-left: 20px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: .8;
    margin-bottom: 5px;
}

/* search container form styling */
.searchCont form {
    padding-left: 20px;
    margin-bottom: 25px;
}

/* search container input styling */
.searchCont input {
    background-color: rgb(233, 230, 230);
    padding: 8px;
    border-radius: 5px;
}

/* search container button styling */
.searchCont .searchButton {
    padding: 2px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(46, 60, 250);
    color: white;
    border-radius: 5px;
}

/* search button hover styling */
.searchCont .searchButton:hover {
    background-color: rgb(139, 252, 135);
}

/* city name container styling */
.cityNameCont {
    margin: 15px;
    margin-left: 10px;
}

/* city name button styling */
.cityName {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: 1px solid grey;
    margin: 7px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 7px;
    background-color: rgb(151, 145, 223);
    min-width: 150px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* city name button hover styling*/
.searchCont .cityName:hover {
    background-color: rgb(201, 245, 248);
}

/* weather container styling */
.weatherCont {
    display: block;
}

/* todays forecast styling */
.todaysForecast {
    padding: 20px;
    border-top: .5px dashed grey;
    border-left: .5px dashed grey;
    border-bottom: .5px dashed grey;
    background-color: rgb(220, 245, 250);
}

/* todays forecast h2 styling */
.todaysForecast h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
}

/* todays forecast p tag styling */
.todaysForecast p {
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
}

/* five day forecast h2 styling */
.fiveDayH2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 10px;
}

/* five day forecast container styling */
.fiveDayForecast {
    display: flex;
    flex-wrap: wrap;
}

/* day forecast container styling */
.dayCont {
    background-color: rgb(69, 131, 245);
    margin:10px;
    padding:10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

/* day container h3 styling */
.dayCont h3 {
    line-height: 20px;
    padding: 10px;
}

/* say container p tag styling */
.dayCont p {
    padding: 10px;
}

/* styling for font awesome search icon */
.fa-search {
    color: white;
    padding: 5px;
}